@page "/home/{valid:bool?}"

<PageTitle>Index</PageTitle>

<h1>
  Welcome to the Adobe Lightroom Keyword Generator
  <img src="https://www.adobe.com/content/dam/acom/one-console/icons_rebrand/lrc_appicon.svg" alt="Adobe Lightroom" height="50" width="50" />
</h1>

<p>This site will allow you to download bird names as hierarchical keyword lists that can be used in Adobe Lightroom Classic.</p>
<p>Define the list structure and filter criteria and the click download.  As simple as that.</p>
<h3>Credits and references</h3>
<ul>
  <li><a href="https://ebirds.org">EBirds</a> Bird,Genus,Family,Order and Geo data</li>
  <li><a href="https://www.worldbirdnames.org/new/ioc-lists/master-list-2/">IOC World Bird List</a> Bird,Genus,Family and Order data and </li>
  <li><a href="https://www.adobe.com/products/photoshop-lightroom-classic.html">Adobe Lightroom Classic</a></li>
</ul>

<h3>Download</h3>
<p>
  Configure and download a hierarchical bird names keyword list. Click <a href="/download">here</a>
</p>

<h3>GraphQL Api (/graphql)</h3>
<p>Use the GraphQL Api UI.  Click <a href="/graphql">here</a></p>

<h3>Rest Api (/api)</h3>
<p>Use the Swagger UI.  Click <a href="/swagger">here</a></p>

@code
  {
    [Parameter]
    public bool Valid { get; set; }
  }
